body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
.activeNavbarItem {
  color: #e91e63 !important;
}
@media screen and (max-width: 854px) {
  .activeNavbarItem {
    color: #ffffff !important;
  }
}
.border {
  border: 4px solid #e91e63;
}
.scrollContainer {
  background-color: white !important;
}
